# Node.js dependencies
node_modules/

serviceAccountKey.json

base64_serviceAccountKey.txt

.hintrc


# Environment variable files
.env

# Logs
logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
